[package]
name = "ntex-h2"
version = "1.5.0"
license = "MIT OR Apache-2.0"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "An HTTP/2 client and server"
documentation = "https://docs.rs/ntex-h2"
repository = "https://github.com/ntex-rs/ntex-h2"
readme = "README.md"
keywords = ["http", "async", "non-blocking"]
categories = ["asynchronous", "web-programming", "network-programming"]
exclude = ["fixtures/**", "util/**", "fuzz/**"]
edition = "2021"
rust-version = "1.75"

[features]
default = []

# unstable features
unstable = []

[package.metadata.docs.rs]
features = ["ntex-net/tokio"]

[dependencies]
ntex-net = "2"
ntex-io = "2.9"
ntex-http = "0.1"
ntex-bytes = "0.1"
ntex-codec = "0.6"
ntex-service = "3.4"
ntex-util = "2.8"
ntex-rt = "0.4"

bitflags = "2"
fxhash = "0.2"
log = "0.4"
pin-project-lite = "0.2"
thiserror = "1"
nanorand = { version = "0.7", default-features = false, features = ["std", "wyrand"] }

[dev-dependencies]
# Fuzzing
quickcheck = { version = "1.0.3", default-features = false }
rand = "0.8.4"

# HPACK fixtures
hex = "0.4.3"
walkdir = "2.3.2"
serde = "1.0"
serde_json = "1.0"

ntex = { version = "2", features = ["openssl"] }
ntex-tls = { version = "2", features = ["openssl"] }
openssl = "0.10"

# Examples
env_logger = { version = "0.11", default-features = false }

[patch.crates-io]
ntex-h2 = { path = "." }
